<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <title>Objetos perdidos</title>
  <style>
    nav {
      margin-bottom: 50px;
    }
  </style>
  <title>Login de Objs Perdidos</title>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a th:href="@{/}" class="nav-link">Inicio</a>
      </li>
      <li th:if="${session.userLoggedIn}" class="nav-item">
        <a th:href="@{/nuevo}" class="nav-link">Nuevo Objeto perdido</a>
      </li>
      <li th:unless="${session.userLoggedIn}" class="nav-item">
        <a th:href="@{/registro}" class="nav-link">Registrarse</a>
      </li>
      <li th:unless="${session.userLoggedIn}" class="nav-item">
        <a th:href="@{/login}" class="nav-link">Iniciar sesion</a>
      </li>
      <li th:if="${session.userLoggedIn}" class="nav-item">
        <a th:href="@{/logout}" class="nav-link">Salir</a>
      </li>
    </ul>
  </div>
</nav>
<div class="contenetor-login">
  <div class="container">
    <form method="post" th:action="@{/login}">
      <div class="form-group row">
        <label class="col-sm-1 col-form-label">Email</label>
        <div class="col-sm-11">
          <input class="form-control form-control-lg" placeholder="Correo" type="email" name="correo" required/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label">Contrase&ntilde;a</label>
        <div class="col-sm-11">
          <input class="form-control form-control-lg" placeholder="Contrase&ntilde;a" type="password" name="contrasena" required/>
        </div>
      </div>
      <input class="btn btn-primary" type="submit" value="Iniciar sesi&oacute;n" />
    </form>
  </div>
</div>
</body>
</html>
